@page "/admin"
@using System.Net.Http
@inject HttpClient HttpLib
@inject SweetAlertService Swal;
@inject NavigationManager navi;

@if (userList == null)
{
    <p>Loading current registered users...</p>
}
else
{
  <div class="container">
  </div>
}



@code {

  UserDTO[] userList;

  
    protected override async Task OnInitializedAsync() {
      var user = await HttpLib.GetFromJsonAsync<UserDTO[]>($"api/users/");

      if(user.Any()) {
        userList = user;
      }

    }
}
