@page "/dashboard/customer/create"
@using frontendapi_bikeshop.Models;
@using System.Net.Http
@inject HttpClient HttpLib
@inject IToastService toasterService;

<div class="container">
<h3>Create Customer</h3>
<EditForm Model=@customer OnSubmit="OnSubmit" class = "card card-body bg-light">
<div class="card mb-0">
    <div class="card-header">
        Customer
    </div>
    <div class="card-body ">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>First Name</label>
                <InputText @bind-Value="customer.Firstname" class="form-control" id="FirstName" placeholder="John" required />
            </div>

            <div class="form-group col-md-6">
                <label>Last Name</label>
                <InputText @bind-Value="customer.Lastname" class="form-control" id="LastName" placeholder="Doe" required />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label >Phone</label>
                <InputText @bind-Value="customer.Phone" class="form-control" id="Phone" placeholder="(xxx) xxx-xxxx" required />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Address</label>
                <InputText @bind-Value="customer.Address" class="form-control" id="Address" placeholder="451 Main Street" required />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Zip Code</label>
                <InputText @bind-Value="customer.Zipcode" class="form-control" id="ZipCode" placeholder="99912" required />
            </div>

            <div class="form-group col-md-6">
                <label>Cityid</label>
                <InputNumber @bind-Value="customer.Cityid" class="form-control" id="Cityid" placeholder="4" />
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Balance Due</label>
                <InputNumber @bind-Value="customer.Balancedue" class="form-control" id="Balancedue" placeholder="0" />
            </div>
        </div>

        <button type="submit" class="btn btn-success">Create Customer</button>
    </div>


</div>
</EditForm>
</div>

@code {
    Customer customer = new Customer();
    public async Task OnSubmit()
    {
        var status = await HttpLib.PostAsJsonAsync($"api/Customer", customer);
        if (status.IsSuccessStatusCode)
        {
            toasterService.ShowSuccess("Bicycle Added.");
        }
        else
            toasterService.ShowError(status.ToString());
    }
}
