@page "/counter"
@using System.Net.Http
@inject HttpClient Http

<h1>Counter</h1>



@if (@test == null)
{
    <p> Loading customer details...</p>
}
else
{
    <p>@test.Firstname @test.Lastname (@test.Address, @test.Zipcode)</p>
}

<button class="btn btn-primary" @onclick="ClickMe"> Random Customer </button>

@code {

    Customer test = null;
    private Random random = new Random();

    protected override async Task OnInitializedAsync()
    {
        test = await Http.GetFromJsonAsync<Customer>("/api/customer/2");
    }

    public async void ClickMe()
    {
        test = await Http.GetFromJsonAsync<Customer>("/api/customer/" + random.Next(1, 5000).ToString());
    }
    
}
