@page "/counter"
@using System.Net.Http
@inject HttpClient Http

<h1>Counter</h1>

<p>@test</p>

<button class="btn btn-primary" @onclick="ClickMe"> Random Customer </button>

@code {

    string test = "Loading customer...";
    private Random random = new Random();

    protected override async Task OnInitializedAsync()
    {
        test = await Http.GetStringAsync("/api/customer/2");
    }

    public async void ClickMe()
    {
        test = await Http.GetStringAsync("/api/customer/" + random.Next(1, 5000).ToString());
    }
    
}
