@page "/"
@inject HttpClient HttpLib
@inject NavigationManager navigationService

<div class="jumbotron">
  <h1 class="display-4">Hello, user!</h1>
  <p class="lead">We founded this bike-shop in 2004. Providing the highest quality bicycle and parts possible!</p>
  <hr class="my-4">
  <button class="btn btn-outline-primary btn-lg" @onclick="@( () => navigationService.NavigateTo("bicycles") )">View Bikes</button>
  <button class="btn btn-outline-success btn-lg" @onclick="@( () => navigationService.NavigateTo("bicycles/parts") )" role="button">View Parts</button>
</div>