@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row mb-1">
        <a href="login">Login</a>
        <a href="register">Register</a>
        <a href="cart">Cart</a>
        <LoginDisplay />
    </div>

    <div class="content">
        <BlazoredToasts />
        @Body
    </div>
</div>