@page "/bicycles/edit/{id}"
@using System.Net.Http
@inject HttpClient HttpLib
@inject SweetAlertService Swal;
@inject NavigationManager navi;
<h3>BicycleEdit</h3>


@if(bicycle == null) {
    <p>Loading Bicycle details...</p>
} else {
<EditForm Model=bicycle OnSubmit="OnSubmit" class="card card-body bg-light mt-3">
    <div class="form-group">

        <label for="Customerid">Customer ID</label>
        <InputNumber @bind-Value="bicycle.Customerid" class="form-control" id="customerid" />

        <label for="modeltype">Model Type</label>
        <InputText @bind-Value="bicycle.Modeltype" class="form-control" id="modeltype" />

        <label for="Paintid">Paint ID</label>
        <InputNumber @bind-Value="bicycle.Paintid" class="form-control" id="paintid" />

        <label for="Framesize">Frame Size</label>
        <InputNumber @bind-Value="bicycle.Framesize" class="form-control" id="framesize" />

        <label for="OrderDate">Order Date</label>
        <InputDate @bind-Value="bicycle.OrderDate" class="form-constrol" id="orderdate" />

        <label for="StartDate">Start Date</label>
        <InputDate @bind-Value="bicycle.StartDate" class="form-constrol" id="startdate" />

        <label for="ShipDate">Ship Date</label>
        <InputDate @bind-Value="bicycle.ShipDate" class="form-constrol" id="shipdate" />

        <label for="shipsmployee">Ship Employee</label>
        <InputNumber @bind-Value="bicycle.Shipemployee" class="form-control" id="shipemployee" />

        <label for="frameassembler">Frame Assember</label>
        <InputNumber @bind-Value="bicycle.Frameassembler" class="form-control" id="frameassembler" />

        <label for="Painter">Painter</label>
        <InputNumber @bind-Value="bicycle.Painter" class="form-control" id="painter" />

        <label for="construction">Construction</label>
        <InputText @bind-Value="bicycle.Construction" class="form-control" id="construction" />

        <label for="waterbottlebrazeons">Water Bottle Brazeons</label>
        <InputNumber @bind-Value="bicycle.Waterbottlebrazeons" class="form-control" id="waterbottlebrazeons" />

        <label for="customname">Custom Name</label>
        <InputText @bind-Value="bicycle.Customname" class="form-control" id="customname" />

        <label for="letterstyleid">Letter Style ID</label>
        <InputText @bind-Value="bicycle.Letterstyleid" class="form-control" id="letterstyleid" />

        <label for="storeid">Store ID</label>
        <InputNumber @bind-Value="bicycle.Storeid" class="form-control" id="storeid" />

        <label for="employeeid">Employee ID</label>
        <InputNumber @bind-Value="bicycle.Employeeid" class="form-control" id="employeeid" />

        <label for="toptube">Top Tube</label>
        <InputNumber @bind-Value="bicycle.Toptube" class="form-control" id="toptube" />

        <label for="chainstay">Chain Stay</label>
        <InputNumber @bind-Value="bicycle.Chainstay" class="form-control" id="chainstay" />

        <label for="headtubeangle">Head Tube Angle</label>
        <InputNumber @bind-Value="bicycle.Headtubeangle" class="form-control" id="headtubeangle" />

        <label for="seattubeangle">Seat Tube Angle</label>
        <InputNumber @bind-Value="bicycle.Seattubeangle" class="form-control" id="seattubeangle" />

        <label for="listprice">List Price</label>
        <InputNumber @bind-Value="bicycle.Listprice" class="form-control" id="listprice" />

        <label for="saleprice">Sale Price</label>
        <InputNumber @bind-Value="bicycle.Saleprice" class="form-control" id="saleprice" />

        <label for="salestax">Sales Tax</label>
        <InputNumber @bind-Value="bicycle.Salestax" class="form-control" id="salestax" />

        <label for="salestate">Sale State</label>
        <InputText @bind-Value="bicycle.Salestate" class="form-control" id="salestate" />

        <label for="shipprice">Ship Price</label>
        <InputNumber @bind-Value="bicycle.Shipprice" class="form-control" id="shipprice" />

        <label for="frameprice">Frame Price</label>
        <InputNumber @bind-Value="bicycle.Frameprice" class="form-control" id="frameprice" />

        <label for="componentlist">Component List</label>
        <InputNumber @bind-Value="bicycle.Componentlist" class="form-control" id="componentlist" />

        <div class="row">
            <div class="col-md-12 text-right">
                <button type="button" class="btn btn-danger" @onclick="DeleteBicycle">Delete Bicycle</button>
                <button type="submit" class="btn btn-success">Save Changes</button>
            </div>
        </div>
    </div>
</EditForm>
}

@code {
    [Parameter]
    public String id{ get; set; }
    public Bicycle bicycle;
    protected override async Task OnInitializedAsync() {
        bicycle = await HttpLib.GetFromJsonAsync<Bicycle>($"api/bicycles/{id}");
    }
    public async Task OnSubmit() {
        var status = await HttpLib.PutAsJsonAsync<Bicycle>($"api/bicycles/{bicycle.Serialnumber}", bicycle);
        if(status.IsSuccessStatusCode) {
            await Swal.FireAsync("Success", "Bicycle has been saved!", "success");
        } else {
            await Swal.FireAsync("Error", "Bicycle failed to update.", "error");
        }
    }
    public async Task DeleteBicycle() {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions {
            Title = "",
            Text = "Are you sure you want to delete this bicycle?",
            Icon = SweetAlertIcon.Warning,
            ShowCancelButton = true,
            ConfirmButtonText = "Yes",
        });

        if(!string.IsNullOrEmpty(result.Value)) {
            var status = await HttpLib.DeleteAsync($"api/bicycles/{bicycle.Serialnumber}");
            if(status.IsSuccessStatusCode) {
                await Swal.FireAsync("Delete", "Bicycle has been deleted.", SweetAlertIcon.Success);
                navi.NavigateTo("/dashboard/bicycles");
            } else {
                await Swal.FireAsync("Error", "Bicycle could not be deleted.", SweetAlertIcon.Error);
            }
        }

    }

}
