@page "/bicycles/view/{id}"
@using System.Net.Http
@inject HttpClient HttpLib
@inject SweetAlertService Swal;
@inject NavigationManager navi;
@if(bicycle == null) {
    <p>Loading customer details...</p>
} else {
    <div class="container">
        <h1>@bicycle.Serialnumber</h1>
        <EditForm Model=bicycle class="card card-body bg-light mt-3">
            <div class="card mb-0">
                <div class="card-header">
                    Bicycle
                </div>

                <div class="card-body">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="Customerid">Customer ID</label>
                            <InputNumber @bind-Value="bicycle.Customerid" readonly class="form-control" id="customerid" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="customname">Custom Name</label>
                            <InputText @bind-Value="bicycle.Customname" readonly class="form-control" id="customname" />
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="modeltype">Model Type</label>
                            <InputText @bind-Value="bicycle.Modeltype" readonly class="form-control" id="modeltype" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Framesize">Frame Size</label>
                            <InputNumber @bind-Value="bicycle.Framesize" readonly class="form-control" id="framesize" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="construction">Construction</label>
                            <InputText @bind-Value="bicycle.Construction" readonly class="form-control" id="construction" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="waterbottlebrazeons">Water Bottle Brazeons</label>
                            <InputNumber @bind-Value="bicycle.Waterbottlebrazeons" readonly class="form-control" id="waterbottlebrazeons" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="letterstyleid">Letter Style ID</label>
                            <InputText @bind-Value="bicycle.Letterstyleid" readonly class="form-control" id="letterstyleid" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="toptube">Top Tube</label>
                            <InputNumber @bind-Value="bicycle.Toptube" readonly class="form-control" id="toptube" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="chainstay">Chain Stay</label>
                            <InputNumber @bind-Value="bicycle.Chainstay" readonly class="form-control" id="chainstay" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="headtubeangle">Head Tube Angle</label>
                            <InputNumber @bind-Value="bicycle.Headtubeangle" readonly class="form-control" id="headtubeangle" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="seattubeangle">Seat Tube Angle</label>
                            <InputNumber @bind-Value="bicycle.Seattubeangle" readonly class="form-control" id="seattubeangle" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="componentlist">Component List</label>
                            <InputNumber @bind-Value="bicycle.Componentlist" readonly class="form-control" id="componentlist" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="Paintid">Paint ID</label>
                            <InputNumber @bind-Value="bicycle.Paintid" readonly class="form-control" id="paintid" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Painter">Painter</label>
                            <InputNumber @bind-Value="bicycle.Painter" readonly class="form-control" id="painter" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="OrderDate">Order Date</label>
                            <InputDate @bind-Value="bicycle.OrderDate" readonly class="form-constrol" id="orderdate" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="StartDate">Start Date</label>
                            <InputDate @bind-Value="bicycle.StartDate" readonly class="form-constrol" id="startdate" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ShipDate">Ship Date</label>
                            <InputDate @bind-Value="bicycle.ShipDate" readonly class="form-constrol" id="shipdate" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="shipsmployee">Ship Employee</label>
                            <InputNumber @bind-Value="bicycle.Shipemployee" readonly class="form-control" id="shipemployee" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="frameassembler">Frame Assember</label>
                            <InputNumber @bind-Value="bicycle.Frameassembler" readonly class="form-control" id="frameassembler" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="storeid">Store ID</label>
                            <InputNumber @bind-Value="bicycle.Storeid" readonly class="form-control" id="storeid" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="employeeid">Employee ID</label>
                            <InputNumber @bind-Value="bicycle.Employeeid" readonly class="form-control" id="employeeid" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="listprice">List Price</label>
                            <InputNumber @bind-Value="bicycle.Listprice" readonly class="form-control" id="listprice" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="saleprice">Sale Price</label>
                            <InputNumber @bind-Value="bicycle.Saleprice" readonly class="form-control" id="saleprice" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="salestax">Sales Tax</label>
                            <InputNumber @bind-Value="bicycle.Salestax" readonly class="form-control" id="salestax" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="salestate">Sale State</label>
                            <InputText @bind-Value="bicycle.Salestate" readonly class="form-control" id="salestate" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="shipprice">Ship Price</label>
                            <InputNumber @bind-Value="bicycle.Shipprice" readonly class="form-control" id="shipprice" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="frameprice">Frame Price</label>
                            <InputNumber @bind-Value="bicycle.Frameprice" readonly class="form-control" id="frameprice" />
                        </div>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
}

@code {
    [Parameter]
    public string id { get; set; }

    Bicycle bicycle;

    protected override async Task OnInitializedAsync() {
        bicycle = await HttpLib.GetFromJsonAsync<Bicycle>($"api/bicycles/{id}");
    }
}
